:root {
  --violet: #c052ff;
  --dark-blue: rgba(10, 35, 40, 1);
  --green: #4cfb82;
  --ff-title: "Creepster", cursive;
  --ff-title-secondary: "Fredoka One", cursive;
  --bg-multicolor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%236e51fe' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%235083fd' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%234ed3fd' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%234dfcd4' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%234CFB82' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%2353fc5f' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%2374fd59' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%239ffe60' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23c8fe67' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23EDFF6E' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark-blue);
  font-family: "Roboto", sans-serif;
  color: aliceblue;
}

/*-------------------------------- navbar styles -------------------------------- */

.navbar {
  position: relative;
  top: 0;
  height: 72px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  background-color: rgb(8, 24, 27);
}

.navbar .logo {
  width: 100px;
}

.line {
  width: 30px;
  height: 3px;
  background-color: aliceblue;
  margin: 6px;
  border-radius: 2px;
}

.hamburger {
  position: fixed;
  cursor: pointer;
  right: 5%;
  top: 36px;
  transform: translate(-5%, -50%);
  z-index: 5;
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(8, 24, 27);
  height: 100dvh;
  width: 100%;
  z-index: 4;

  clip-path: circle(100px at 90% -20%);
  -webkit-clip-path: circle(100px at 90% -20%);
  transition: all 1s ease-out;
}

.nav-links > li {
  width: 125px;
}

.nav-links.open {
  clip-path: circle(1200px at 90% -10%);
  -webkit-clip-path: circle(1200px at 90% -10%);
}

.link {
  text-decoration: none;
  color: aliceblue;
  font-size: clamp(1.2rem, 3vw, 1.8rem);
}

.link:hover {
  color: var(--green);
}

/* toggle button */
.button-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: aliceblue;
}
.toggle-button {
  width: 40px;
  height: 20px;
  background-color: var(--violet);
  border-radius: 30px;
  padding: 3px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.toggle-button > .inner-circle {
  width: 14px;
  height: 14px;
  background-color: #fff;
  border-radius: 50%;
  transition: all 300ms ease-in-out;
}
.toggle-button.active {
  background-color: var(--green);
}
.toggle-button.active > .inner-circle {
  margin-left: 20px;
}

/*--------------------------------  header ---------------------------------*/

#header {
  width: 100%;
  height: 40vh;
  position: relative;
}

.hero-title {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 8rem);
  text-align: center;
  color: aliceblue;
  font-size: clamp(2rem, 5vw + 1rem, 5rem);
  font-family: var(--ff-title);
  text-shadow: 2px 2px 10px #000000;
  z-index: 1;
}

.carousel {
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-track-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel-track {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.carousel-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: var(--bg-multicolor);
  background-size: cover;
  border-radius: 50%;
  width: clamp(1.5rem, 5vw, 2rem);
  height: clamp(1.5rem, 5vw, 2rem);
  border: 2px solid black;
  z-index: 3;
}

.btn-left {
  left: 0.5rem;
  cursor: pointer;
}

.btn-right {
  right: 0.5rem;
  cursor: pointer;
}

.carousel-btn i {
  display: grid;
  place-content: center;
  font-size: clamp(0.8rem, 3vw, 1rem);
}

.carousel-dots {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.dot {
  border: none;
  width: 1rem;
  height: 1rem;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  cursor: pointer;
}
.dot:hover {
  background-color: var(--green);
}

.dot.current-slide {
  background: rgba(0, 0, 0, 0.8);
  border: 2px solid var(--green);
}

.is-hidden {
  display: none;
}

/* ----------------------------------  main --------------------------------- */

#characters,
#author,
#characters section,
.harmon-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 3rem 1.5rem;
}

.paragraphs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

#characters section {
  padding: 0;
  gap: 1.2rem;
}

h2 {
  font-size: clamp(2rem, 4vw + 1rem, 3rem);
  font-family: var(--ff-title-secondary);
  text-align: center;
  line-height: 4rem;
  border: 2px solid aliceblue;
  border-radius: 10px;
  padding: 1rem 1rem 2rem 1rem;
  margin-block: 2rem;
}

h3 {
  background-image: var(--bg-multicolor);
  background-size: cover;
  font-size: clamp(3rem, 6vw + 1rem, 5rem);
  font-family: var(--ff-title);
  text-align: center;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.section-chars,
.harmon-section {
  width: 100%;
}

.section-chars p,
.harmon-section p {
  font-size: clamp(1rem, 3vw, 1.6rem);
  line-height: clamp(2rem, 5vw, 3rem);
}

.section-chars p:first-of-type,
.harmon-section p:first-of-type {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 8;
}

.section-chars :not(:first-of-type),
.harmon-section :not(:first-of-type) {
  display: none;
}

.section-chars p.show,
.harmon-section p.show {
  display: block;
}

.portrait {
  object-fit: cover;
  width: 300px;
  height: 300px;
  clip-path: circle(45%);
}

.section-chars button,
.harmon-section button {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  font-size: 1.4rem;
  color: black;
  border: 2px solid black;
  background: var(--bg-multicolor);
  background-size: cover;
  border-radius: 50%;
}

/* ----------------------------------  portal -------------------------------- */

.portal-container {
  width: 80%;
  max-width: 800px;
  display: grid;
  place-content: center;
  margin-bottom: 5rem;
}

.portal {
  background-color: #66ba4f;
  box-shadow: 0px 0px 40px 10px #448c3f;
  height: 20em;
  width: 20em;
  border-radius: 50%;
  margin: auto;
  position: relative;
  background: radial-gradient(circle at 77% 80%, #fdfeb4 2.5%, transparent 2.5%),
    radial-gradient(circle at 75% 83%, #fdfeb4 2%, transparent 2%),
    radial-gradient(circle at 79% 83%, #fdfeb4 1%, transparent 1%),
    radial-gradient(circle at 45% 13%, #ffffd5 1.5%, transparent 1.5%),
    radial-gradient(circle at 42% 13%, #ffffd5 2%, transparent 2%),
    radial-gradient(circle at 38% 14%, #ffffd5 1.5%, transparent 1.5%),
    radial-gradient(circle at 20% 24%, #fdfeb4 1%, transparent 1%),
    radial-gradient(circle at 21% 23%, #fdfeb4 1%, transparent 1%),
    radial-gradient(circle at 51% 13%, #fdfeb4 1%, transparent 1%),
    radial-gradient(circle at 81% 33%, #fdfeb4 1%, transparent 1%),
    radial-gradient(circle at 85% 36%, #fdfeb4 2%, transparent 2%),
    radial-gradient(circle at 21% 46%, #fdfeb4 1%, transparent 1%),
    radial-gradient(circle at 20% 51%, #fdfeb4 2%, transparent 2%),
    radial-gradient(circle at 53% 51%, transparent 64%, #43a93e 64%),
    radial-gradient(circle at 47% 59%, transparent 64%, #43843e 64%),
    radial-gradient(circle at 47% 60%, transparent 59%, #1a9042 59%),
    radial-gradient(circle at 50% 59%, transparent 55%, #1b863c 55%),
    radial-gradient(circle at 45% 60%, transparent 55%, #399c49 55%),
    radial-gradient(circle at 47% 60%, transparent 46%, #1a9042 46%),
    radial-gradient(circle at 46% 55%, transparent 43%, #75b03b 43%),
    radial-gradient(circle at 36% 55%, transparent 43%, #a9cb48 43%),
    radial-gradient(circle at 50% 60%, transparent 40%, #66ba4f 40%),
    radial-gradient(circle at 50% 53%, transparent 40%, #e5e051 37%),
    radial-gradient(circle at 30% 48%, transparent 40%, #eaf157 37%),
    radial-gradient(circle at 57% 69%, transparent 40%, #eaf157 40%),
    radial-gradient(circle at 40% 88%, transparent 40%, #e9e072 37%),
    radial-gradient(circle at 67% 54%, transparent 40%, #faeb7b 37%),
    radial-gradient(circle at 49% 35%, transparent 40%, #fff8c5 37%),
    radial-gradient(circle at 79% 59%, transparent 40%, #fffe9c 37%),
    radial-gradient(circle at 50% 50%, #fdfeb4 100%, #fdfeb4 100%);

  animation: tourne 5s linear infinite;
  transition: all 0.3s ease-in-out;
}

@keyframes tourne {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.portal:hover {
  cursor: pointer;
  scale: 1.1;
}

/* ----------------------------------  footer --------------------------------- */

footer {
  width: 100%;
  padding: 1rem;
  background-color: rgb(8, 24, 27);
  text-align: center;
}

/* -------------------------------------------------------------------------- */
/*  media queries */
/* -------------------------------------------------------------------------- */

@media screen and (min-width: 768px) {
  .navbar {
    position: fixed;
    top: 1rem;
    width: calc(100% - 2rem);
    justify-content: space-between;
    padding: 0 2rem;
    border-radius: 10px;
    z-index: 2;
  }

  .navbar .logo {
    width: 100px;
  }

  .hamburger {
    display: none;
  }

  .nav-links {
    position: static;
    flex-direction: row;
    gap: 2.8rem;
    height: 100%;
    width: auto;

    clip-path: none;
    transition: none;
  }

  .link {
    font-size: 1.2rem;
  }

  /*--------------------------------  header ---------------------------------*/

  #header {
    height: 100vh;
  }

  .hero-title {
    top: 50%;
    width: calc(100% - 12rem);
  }

  /* carousel */

  .btn-left {
    left: 1.5rem;
  }

  .btn-right {
    right: 1.5rem;
  }

  /* ----------------------------------  main --------------------------------- */

  #characters,
  #author {
    padding-block: 5rem;
    margin: 0 auto;
  }

  #characters,
  #characters section,
  #author,
  .harmon-section {
    gap: 5rem;
    width: 80%;
  }

  #characters section,
  .harmon-section {
    gap: 2.5rem;
  }

  #characters h2,
  #author h2 {
    font-family: var(--ff-title-secondary);
    padding: 1.5rem 1.5rem 2.5rem 1.5rem;
  }
}
